@model CartViewModel
@{
    ViewData["Title"] = "Cart";
}

    <div class="container">
        @if (Model.Items?.Count == 0)
	{
		 <div>Mua hang` di9 may`</div>
        }
        else
        {
            foreach(var item in Model.Items)
            {
                <div>@item.Name @item.Quantity</div>
            }
        }
    </div>